* {
    font-family: "Roboto", sans-serif;
  }

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  body {
    padding-top: 56px; /* Ajusta este valor según la altura de tu navbar */
  } 

  .color-white {
    color: white;
  }

